/* Base Styles */
html {
    background-color: #0d131d;
    color: #dadada;
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;

}

h1 {
    margin: 0;
    font-family: "Noto Sans";
}

p {
    line-height: 1.5em;
    letter-spacing: 0.3px;
}

main {
    background-color: #232d3f;
    margin-top: -10vh;
    padding: 15vh 5vw 0vw 5vw;
}

/* Navigation & Banner*/
nav {
    margin: 3vh 5vw;
}

nav .logo {
    margin-right: auto;
}

nav .logo img {
    max-width: 200px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 180px;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

nav li {
    align-self: center;
    margin: 10px;
    transition: color 300ms;
}

nav li i {
    font-size: 35px;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

nav li:hover {
    color: rgb(194, 194, 194);
}

section.banner {
    text-align: center;
    background-color: #0d131d;
    width: 100%;
    min-height: 260px;
    height: 350px;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

section.banner .banner-container {
    text-align: right;
    padding-top: 2%;
}

section.banner h1 {
    font-family: serif;
    font-size: 70px;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 577px) {
    nav ul {
        justify-content: center;
    }

    nav .logo {
        width: 100vw;
        margin-right: 0;
        text-align: center;

    }

    nav li {
        margin-top: 25px;
        margin: 25px 15px;
    }

    nav li i {
        font-size: 40px;
    }

    section.banner h1 {
        font-size: 60px;
    }
}

/* Main Content */
div.flex-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.flex-row section.content {
    max-width: 800px;
}

section.content {
    margin-bottom: 10%;
}

section.content:nth-child(2n) .auto-align {
    text-align: right;
}

p.tab {
    text-indent: 40px
}