/* Header and navigation */
header {
    & {
        padding: 1vh 6vw;
    }

    nav {
        .logo {
            & {
                margin-right: auto;
            }

            @media (max-width: 576px) {
                & {
                    width: 100vw;
                    margin-right: 0;
                    text-align: center;
                }
            }

            img {
                max-width: 200px;
            }
        }

        ul {
            & {
                display: flex;
                flex-wrap: wrap;
                flex-basis: 180px;
                justify-content: space-evenly;
                list-style-type: none;
                padding: 0;
            }

            @media (max-width: 576px) {
                & {
                    justify-content: center;
                }
            }
        }

        li {
            & {
                align-self: center;
                margin: 0.7em;
                transition: color 300ms;
            }

            @media (max-width: 576px) {
                & {
                    margin: 1.5em 1em;
                }
            }


            &:hover {
                color: var(--hover-color);
            }

            i {
                font-size: 2.5em;
            }
        }
    }
}

/* Angled title sections */
section.content:not(:nth-of-type(2n)) {
    display: flex;
    justify-content: center;
}

/* Page content sections */
section.content:nth-of-type(2n) {
    & {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
        gap: 35px;
        background-color: var(--background-color-primary);
        clip-path: polygon(0 4vw, 100% 0, 100% calc(100% - 4vw), 0 100%);
        padding: calc(4vw + 35px) 6vw;
    }

    @media (max-width: 576px) {
        & {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media (max-width: 992px) {
        & {
            flex-direction: column;
        }
    }

    div.content-wrapper {
        & {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        h2.title {
            font-size: 1.5em;
            margin-left: 8px;
        }

        div.content-row {
            & {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 35px;
            }

            @media (max-width: 992px) {
                flex-direction: column;
                gap: 25px;
            }
        }

        div.content-column {
            & {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 25px;
            }

            div.content-container {
                & {
                    flex-grow: 0;
                }

                &:last-child {
                    flex-grow: 1;
                }
            }

            @media (max-width: 992px) {
                gap: 25px;
            }

            div.content-container:not(:first-child) {
                margin-top: 0;
            }
        }

        div.content-container {
            & {
                flex: 1;
                display: flex;
                flex-direction: column;
                background-color: var(--background-color-content);
                padding: 20px;
                border-radius: 12px;
                border: 1px solid var(--border-color);
                box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.12);
                margin-top: 20px;
                color: var(--secondary-text-color);
                font-size: 17px;
            }
        }
    }
}

/* Banner section */
section.banner {
    & {
        padding: 20px 0 40px 0;
        text-align: center;
    }

    h1 {
        font-family: serif;
        font-size: 70px;
    }

    @media (max-width: 576px) {
        & {
            padding-top: 0;
        }

        h1 {
            font-family: serif;
            font-size: 60px;
        }
    }
}

/* About section */
section.about-section {
    div.content-container {
        button.btn-toggle {
            & {
                margin-top: 15px;
                display: none;
                font-size: 15px;
                width: 100%;
            }

            @media (max-width: 576px) {
                & {
                    display: block;
                }
            }
        }

        div.collapse {
            @media (max-width: 576px) {
                & {
                    display: grid;
                    grid-template-rows: 0fr;
                    padding: 0;
                    margin: 0;
                    transition: grid-template-rows 250ms ease-in-out;
                }

                &.show {
                    grid-template-rows: 1fr;
                }

                &.show p {
                    overflow: hidden;
                    margin-bottom: 10px;
                }

                p {
                    overflow: hidden;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* Projects section */
section.projects-section {
    div.content-container {
        p.project-description {
            & {
                min-height: 90px;
            }

            @media (max-width: 992px) {
                & {
                    min-height: 0;
                }
            }
        }

        ul.project-points {
            & {
                padding-left: 0;
                margin-top: 0;
                list-style-type: none;
            }

            li {
                & {
                    font-size: 17px;
                    line-height: 1.5em;
                    margin-bottom: 7px;
                    margin-left: 30px;
                }

                span.icon {
                    padding-right: 0.2em;
                    padding-left: 0.2em;
                    font-size: 18px;
                    margin-left: -35px;
                }
            }
        }

        div.project-footer {
            & {
                margin-top: auto;
            }

            hr {
                & {
                    width: calc(100% - 13ch);
                    opacity: 0.60;
                    float: left;
                }

                @media (max-width: 992px) {
                    & {
                        opacity: 0.40;
                    }
                }
            }

            a.project-link {
                float: right;
                transition: 0.3s;
            }
        }
    }
}

section.experience-section {
    div.content-wrapper.experience {
        div.title-container {
            & {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: space-between;
            }

            img {
                margin-left: 8px;
                max-width: 220px;
            }

            h2 {
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 40px;
                font-size: 22px;
            }

            p {
                margin-top: auto;
                text-align: right;
                padding-right: 16px;
                padding-bottom: 2px;
                font-size: 18px;
                font-style: italic;
            }

            @media (max-width: 992px) {
                & {
                    flex-direction: column;
                }

                img {
                    max-width: 185px;
                }

                h2 {
                    margin-top: 15px;
                    margin-left: 9px;
                }

                p {
                    margin-top: 0;
                    margin-left: 9px;
                    font-size: 16px;
                    text-align: left;
                }
            }
        }

        div.content-row {
            @media (max-width: 992px) {
                & {
                    display: block;
                }
            }
        }

        div.content-container {
            @media (max-width: 992px) {
                &:first-child {
                    margin-top: 17px;
                }

                &:not(:first-child) {
                    margin-top: 0;
                    padding-top: 0;
                    border-top: none;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

                &:not(:last-child) {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            ul {
                & {
                    padding-left: 15px;
                    margin-top: 0;
                    margin-bottom: 7px;
                }

                li {
                    & {
                        line-height: 1.5em;
                    }

                    &:not(:last-child) {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}

/* Footer */
footer {
    & {
        padding: 1vh 6vw;
    }

    nav {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }

        li {
            & {
                align-self: center;
                margin: 0.7em;
                transition: color 300ms;
            }

            &:hover {
                color: var(--hover-color);
            }

            &.copyright {
                & {
                    margin-left: auto;
                    display: block;
                    text-align: center;
                }

                @media (max-width: 576px) {
                    & {
                        width: 100%;
                    }
                }
            }

            i {
                font-size: 2.5em;
            }

        }
    }
}