/* Base Styles */
* {
    --background-color-primary: #232d3f;
    --background-color-secondary: #0d131d;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: var(--background-color-secondary);
    color: #dadada;
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

button {
    padding: 9px;
    width: 120px;
    background-color: var(--background-color-primary);
    border-radius: 8px;
    border: 1px solid #1f2933;
    color: #cad4e5;
}

button:hover {
    background-color: #1f2b3c;
    cursor: pointer;
}

h2,
h1 {
    margin: 0;
    font-family: "Noto Sans";
    font-weight: 300;
}

h1 {

    font-size: 2.3em;
}

h2 {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(194, 194, 194);
}

p {
    line-height: 1.65em;
    letter-spacing: 0.3px;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

/* Header & Navigation */
header {
    & {
        padding: 1vh 6vw;
    }

    nav {
        .logo {
            & {
                margin-right: auto;
            }

            @media (max-width: 576px) {
                & {
                    width: 100vw;
                    margin-right: 0;
                    text-align: center;
                }
            }

            img {
                max-width: 200px;
            }
        }

        ul {
            & {
                display: flex;
                flex-wrap: wrap;
                flex-basis: 180px;
                justify-content: space-evenly;
                list-style-type: none;
                padding: 0;
            }

            @media (max-width: 576px) {
                & {
                    justify-content: center;
                }
            }
        }

        li {
            & {
                align-self: center;
                margin: 0.7em;
                transition: color 300ms;
            }

            @media (max-width: 576px) {
                & {
                    margin: 1.5em 1em;
                }
            }


            &:hover {
                color: rgb(194, 194, 194);
            }

            i {
                font-size: 2.5em;
            }
        }
    }
}

section.banner {
    & {
        padding: 20px 0 40px 0;
        text-align: center;
    }

    h1 {
        font-family: serif;
        font-size: 70px;
    }

    @media (max-width: 576px) {
        & {
            padding-top: 0;
        }

        h1 {
            font-family: serif;
            font-size: 60px;
        }
    }
}


/* Main Content */
.content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    gap: 35px;
    padding: 10px 0;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-wrapper .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1d2533;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #1f2933;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    color: #cad4e5;
    font-size: 17px;
}

.content-wrapper .title {
    font-size: 1.5em;
    margin-left: 8px;
}

.content:nth-of-type(2n) {
    background-color: var(--background-color-primary);
    clip-path: polygon(0 4vw, 100% 0, 100% calc(100% - 4vw), 0 100%);
    padding: calc(4vw + 35px) 6vw;
}

.btn-toggle {
    margin-top: 15px;
    display: none;
    font-size: 15px;
    width: 100%;
}


@media (max-width: 576px) {
    .content:nth-of-type(2n) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .collapse {
        display: grid;
        grid-template-rows: 0fr;
        padding: 0;
        margin: 0;
        transition: grid-template-rows 250ms ease-in-out;
    }

    .collapse p {
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 0;
    }

    .collapse.show p {
        overflow: hidden;
        margin-bottom: 10px;
    }

    .collapse.show {
        grid-template-rows: 1fr;
    }

    .btn-toggle {
        display: block;
    }
}


@media (max-width: 992px) {
    .content {
        flex-direction: column;
    }

    section.about-section .content-container {
        min-height: auto;
    }

    .content>h1 {
        text-align: center;
    }
}

/* Projects */
p.project {
    min-height: 90px;
    line-height: 1.6em;
}

a.project-link {
    float: right;
    transition: 0.3s;
}

.project-footer {
    margin-top: auto;
}

.project-footer hr {
    width: calc(100% - 13ch);
    float: left;
}

ul.minimum {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
}

ul.minimum span.icon {
    padding-right: 0.2em;
    padding-left: 0.2em;
    font-size: 18px;
    margin-left: -35px;
}

ul.minimum li {
    font-size: 17px;
    line-height: 1.5em;
    margin-bottom: 7px;
    margin-left: 30px;
}

.project-footer hr {
    opacity: 0.60;
}

@media (max-width: 992px) {
    section.about-section .content-container {
        min-height: auto;
    }

    p.project {
        min-height: 0;
    }

    .project-footer hr {
        opacity: 0.40;
    }
}

/* Footer */
footer {
    padding: 1vh 6vw;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

footer nav li {
    align-self: center;
    margin: 0.7em;
    transition: color 300ms;
}

footer nav li i {
    font-size: 2.5em;
}

footer nav li:hover {
    color: rgb(194, 194, 194);
}

footer .copyright {
    margin-left: auto;
    display: block;
    text-align: center;
}

@media (max-width: 576px) {
    footer .copyright {
        width: 100%;
    }
}

/* Helper Styles and Miscellaneous */
hr {
    width: 100%;
    color: #cad4e5;
}

.tab {
    text-indent: 20px;
}